*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

.text_decoration_white{
    color: #fff;
}

.text_bold{
    font-weight: bold;
}

/* Header prop */
.container_nav_ms{
    background-color: #2c3e50;
}

    .header_ms{
        padding: 20px 0;
        font-size: 30px;
        color: #fff;
    }

    .nav_ms{
        padding: 20px 0;
        font-size: 30px;
    }

/* DEBUG */

    .container{
        outline: black 1px solid;
    }

    [class*="col"] {
        outline: black 1px solid;
    }

        /* BOOTSTRAP COMPONENt */
        .navbar-collapse{
            flex-grow: 0;
        }

    /* Jumbotron */
.container_jumbotron{
    background-color: #1abc9c;
}

        .jumbo_pic{
            height: 400px;
        }

        .jumbo_title{
            height: 100px;
        }

        .jumbo_decoration{
            height: 50px;
        }

        .jumbo_descr{
            height: 50px;
            margin-bottom: 50px;
        }

        /* Main */
        .container_main{
            margin-top: 20px
        }

        .main_title{
            height: 100px;
        }

        .main_decoration{
            height: 50px;
        }

        .main_block{
            background-color: antiquewhite;
            height: 100px;
        }

        /* About */
    .container_about{
        background-color: #1abc9c;
        margin-top: 20px;
    }
        .about_container{
            margin-top: 20px
        }

        .about_title{
            height: 100px;
        }

        .about_decoration{
            height: 50px;
        }

        .about_block{
            background-color: antiquewhite;
            height: 200px;
        }

        .download_block{
            background-color: antiquewhite;
            height: 50px;
        }

        /* Contact me */
        .contect_container{
            margin-top: 20px;
        }

            .contact_title{
                height: 100px;
            }

            .contact_decoration{
                height: 50px;
            }

                .name_block{
                    background-color: antiquewhite;
                    height: 50px;
                }

                .email_block{
                    background-color: antiquewhite;
                    height: 50px;
                }

                .phone_block{
                    background-color: antiquewhite;
                    height: 50px;
                }

                .message_block{
                    background-color: antiquewhite;
                    height: 200px;
                }

                .send_button_block{
                    background-color: antiquewhite;
                    height: 50px;
                }

            /* Company */
            .container_company{
                padding: 20px 0;
                background-color: #3a546d;
            }

                .location_block{
                    background-color: antiquewhite;
                    height: 100px;
                }

                .social_links_block{
                    background-color: antiquewhite;
                    height: 100px;
                }

                .freelancer_block{
                    background-color: antiquewhite;
                    height: 100px;
                }

            /* Copyright */
            .container_copyright{
                padding: 20px 0;
                background-color: #2c3e50;
            }

                .copyright_block{
                    background-color: antiquewhite;
                    height: 100px;
                }